<div class="container" >
    <div div class="row"  *ngIf="showMsg">
      <div class="col-lg-12">
        <p class="alert alert-primary">
          <strong>Registration Success!</strong> You can login now!
        </p>
      </div>
    </div>

<form #f="ngForm" (ngSubmit)="registerUser(f)">
    
    <!-- Icon -->
    <div class="form-group">
        <img src="../../assets/images/logo.jpg" id="logo" alt="User Icon" />
    </div>
    
    <div class="form-group">
      <small><label>First Name</label></small>
      <input type="text" class="form-control" placeholder="Enter First Name" name="firstName"
       ngModel required #first_name="ngModel" 
       [class.is-invalid]="first_name.invalid && first_name.touched">
       <small class="text-danger" [class.d-none]="first_name.valid || first_name.untouched">First name is required field</small>  
    </div>
  
    <div class="form-group">
      <small><label>Last Name</label></small>
      <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName"
       ngModel required #last_name="ngModel" 
       [class.is-invalid]="last_name.invalid && last_name.touched">
       <small class="text-danger" [class.d-none]="last_name.valid || last_name.untouched">Last name is required field</small>  
    </div>
  
    <div class="form-group">
      <small><label>Email</label></small><br>
      <small [class.text-danger]="msg.status==500" >{{msg.message}}</small>
      <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email"
       ngModel required #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
       [class.is-invalid]="email.invalid && email.touched">
       <div *ngIf="email.errors && email.invalid && email.touched ">
          <small class="text-danger" *ngIf="email.errors.required" [class.d-none]="email.valid || email.untouched">Email is required field</small>
          <small class="text-danger" *ngIf="email.errors.pattern" [class.d-none]="email.valid || email.untouched">Enter the valid email</small>
       </div>
    </div>
  
    <div class="form-group">
      <small><label>Password</label></small>
      <input type="{{showPass2 ? 'text' : 'password'}}" class="form-control" id="password" placeholder="Enter Password" name="password"
      ngModel required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" >
      <p id="togglePass" (click)="toggle2()">{{showPass2 ? 'Hide' : 'Show'}}</p>
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
    </div>
  
    <div class="form-group">
      <small><label>Confirm Password</label></small>
      <input type="{{showPass ? 'text' : 'password'}}" class="form-control" id="cpassword" placeholder="Confirm Password" name="cpassword"
      ngModel required #cpassword="ngModel" [class.is-invalid]="cpassword.invalid && cpassword.touched" >
      <p id="togglePass" (click)="toggle()">{{showPass ? 'Hide' : 'Show'}}</p>
      <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Confirm password must match password</small>
    </div>
     
    <button [disabled]="f.form.invalid" type="submit" class="btn btn-success" >Register</button>
  </form>
</div>
