<h2>Appointments Settings</h2>

<form>
    <label for="Appointment_MaxDaysAhead"><h4><ul><li>Maximum number of days ahead an appointment can be made 
        (between 0 and 365):</li></ul></h4>
    </label>
    <br>
    <input class="setting-input" id="Appointment_MaxDaysAhead" [(ngModel)]="Appointment_MaxDaysAhead" name="Appointment_MaxDaysAhead" 
    type="number" min="0" max="365" step="1" placeholder="365">
    
    <br>
    <br>
    <!-- Time increment for the daily appointments -->
    <label  for="AppointmentTimeIncrement"><h4><ul><li>Time an appointment lasts (30mn, 45 mn, 60mn):</li></ul></h4><h3></h3></label>
    <br>
    <input class="setting-input" id="Appointment_Duration"  [(ngModel)]="Appointment_Duration"
     name="Appointment_Duration" type="number" min="15" max="60" step="15" placeholder="60">
    <br>
    <br>

    <label  for="AppointmentTimeIncrement"><h4><ul><li>Daily availability:</li></ul></h4><h3></h3></label>
    <br>    
    <!-- Input type="time" is not supported by Safari-->
    <!--https://flatpickr.js.org/examples/#time-picker-->
    <!--Use of a table for web accessibility -->
    <table>
        <caption>Please select the morning and afternoon availability</caption>
        <tr>
            <th>Day</th>
            <th colspan="2">Morning</th>
            <th colspan="2">Afternoon</th>
        </tr>
        <tr>
            <td>Mondays:</td>
            <td><input id="monday_morning_schedule_begin" [(ngModel)]="monday_morning_schedule_begin" 
                name="monday_morning_schedule_begin"
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="monday-morning-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="monday-afternoon-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td>
                <input id="monday-afternoon-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>Tuesdays:</td>
            <td><input id="tuesday-morning-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="tuesday-morning-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="tuesday-afternoon-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td>
                <input id="tuesday-afternoon-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>Wednesdays:</td>
            <td><input id="wednesday-morning-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="wednesday-morning-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="wednesday-afternoon-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td>
                <input id="wednesday-afternoon-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>Thursdays:</td>
            <td><input id="thursday-morning-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="thursday-morning-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="thursday-afternoon-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td>
                <input id="thursday-afternoon-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>Fridays:</td>
            <td><input id="friday-morning-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="friday-morning-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="friday-afternoon-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td>
                <input id="friday-afternoon-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>Saturdays:</td>
            <td><input id="saturday-morning-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="saturday-morning-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="saturday-afternoon-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td>
                <input id="saturday-afternoon-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
        </tr>
        <tr>
            <td>Sundays:</td>
            <td><input id="sunday-morning-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="sunday-morning-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td><input id="sunday-afternoon-schedule-begin" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
            <td>
                <input id="sunday-afternoon-schedule-end" 
                class="flatpickr flatpick-input setting-input day-input" 
                type="text" placeholder="Please, select a time." data-id="timePicker" readonly="readonly">
            </td>
        </tr>
    </table>
    {{monday_morning_schedule_begin}}
    


</form>



<br><br><br>
<blockquote>Time selection code by <a href="https://flatpickr.js.org/">FlatPickr</a> is released under the 
<a href="https://opensource.org/licenses/MIT">MIT license.</a></blockquote>
<!--
Copyright <YEAR> <COPYRIGHT HOLDER>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
