* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.setting-input{    
    margin-left: 2.5em;
}

.setting-day
{
    margin-left: 2em;
    width: 8em;
    box-sizing: border-box;
    display: inline-block;
}

