<div class="container">
    <div class="row my-2">
        <div class="col-lg-4 text-center py-4">
            <!-- profile pic load here from profile-picture component -->
            <app-profile-picture></app-profile-picture>
        </div>
        <div class="col-lg-8 order-lg-2">
        <div class="tab-content py-4">
            <div class="row center">
                <div class="col-md-6">
                    <h3 class="alert alert-primary" >User Info</h3>
                    <small>First Name: <h5>{{user.firstName}}</h5></small>
                    <small>Last Name: <h5>{{user.lastName}}</h5></small>
                    <small>Email: <h5>{{user.email}}</h5></small>            
                </div>
                <div class="col-md-6" *ngFor="let user of user.pet | keyvalue">
                    <h3 class="alert alert-success" >Pet Info</h3>
                    <small>Name: <h5>{{user.petName}}</h5></small>
                    <small>Type: <h5>{{user.type}}</h5></small>
                    <small>Breed: <h5>{{user.petBreed}}</h5></small>
                    <small>Gender: <h5>{{user.gender}}</h5></small>
                    <small>Age: <h5>{{user.age}}</h5></small>

                </div>
            </div>
        </div></div>
    </div>
</div>    