<div class="tab-content py-4">
    <ul class="nav nav-tabs">
   
    <li class="nav-item">
        <a data-target="#appointment" data-toggle="tab" class="nav-link active">Appointments</a>
    </li>
    <li class="nav-item">
        <a data-target="#messages" data-toggle="tab" class="nav-link ">Messages</a>
    </li>  
    <li class="nav-item" *ngIf="user.role == ['User']">
        <a data-target="#makeAppointment" data-toggle="tab" class="nav-link">Make Appointment</a>
    </li>
    <li class="nav-item">
        <a data-target="#ask" *ngIf="user.role == ['User']" data-toggle="tab" class="nav-link ">Ask Question</a>
    </li>
 
</ul>
</div>