<div class="tab-content py-4">
    <ul class="nav nav-tabs">
   
    <li class="nav-item">
        <a data-target="#appointment" data-toggle="tab" class="nav-link active">Appointments</a>
    </li>
    <li class="nav-item" *ngIf="user.role == ['Admin']">
        <a data-target="#messages" data-toggle="tab" class="nav-link ">Messages</a>
    </li> 
    <li class="nav-item">
        <a data-target="#users" data-toggle="tab" class="nav-link ">Users</a>
    </li>
    <li class="nav-item" *ngIf="user.role == ['Admin']">
        <a data-target="#vets" data-toggle="tab" class="nav-link ">Vets</a>
    </li>
    <li class="nav-item" *ngIf="user.role == ['Admin']">
        <a data-target="#admins" data-toggle="tab" class="nav-link ">Admins</a>
    </li> 
    <li class="nav-item" *ngIf="user.role == ['User']">
        <a data-target="#makeAppointment" data-toggle="tab" class="nav-link">Make Appointment</a>
    </li>
    <li class="nav-item">
        <a data-target="#ask" *ngIf="user.role == ['User']" data-toggle="tab" class="nav-link ">Ask Question</a>
    </li>
    <li class="nav-item">
        <a data-target="#shedule" *ngIf="user.role == ['Vet']" data-toggle="tab" class="nav-link ">Shedule</a>
    </li>
    <li class="nav-item">
        <a data-target="#appointmentSettings" *ngIf="user.role == ['Vet']" data-toggle="tab" class="nav-link ">Settings</a>
    </li>
 
</ul>
</div>