<div class="tab-content py-4">
    <ul class="nav nav-tabs">
   
    <li class="nav-item">
        <a [routerLink]="['appointments']" data-toggle="tab" class="nav-link active">Appointments</a>
    </li>
    <li class="nav-item" *ngIf="user.role == ['Admin']">
        <a [routerLink]="['messages']" data-toggle="tab" class="nav-link ">Messages</a>
    </li> 
    <li class="nav-item" *ngIf="user.role == ['Admin']">
        <a [routerLink]="['users']" data-toggle="tab" class="nav-link ">Users</a>
    </li>
    <li class="nav-item" *ngIf="user.role == ['Admin']">
        <a [routerLink]="['vets']" data-toggle="tab" class="nav-link ">Vets</a>
    </li>
    <li class="nav-item" *ngIf="user.role == ['Admin']">
        <a [routerLink]="['admins']" data-toggle="tab" class="nav-link ">Admins</a>
    </li> 
    <li class="nav-item" *ngIf="user.role == ['User']">
        <a [routerLink]="['make-appointment']" data-toggle="tab" class="nav-link">Make Appointment</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['ask']" *ngIf="user.role == ['User']" data-toggle="tab" class="nav-link ">Ask Question</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['schedule']" *ngIf="user.role == ['Vet']" data-toggle="tab" class="nav-link ">Shedule</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['settings']" *ngIf="user.role == ['Vet']" data-toggle="tab" class="nav-link ">Settings</a>
    </li>
 
</ul>
</div>